-- ОРДЫ НЕЖИТИ

-- УРОВЕНЬ 1

-- Призыв I: Скелет
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0061'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0061'

-- Мор
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0062'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0062'

-- Снежная буря
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0063'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0063'

-- Слабость
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0064'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0064'

-- Ржавчина
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0065'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0065'

-- Стальные кости
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0050:w0050:b0000' where SPELL_ID = 'g000ss0181'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0050:w0050:b0000' where SPELL_ID = 'g000ss0181'

-- УРОВЕНЬ 2

-- Призыв II: Хуорн
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0200:w0000:b0000' where SPELL_ID = 'g000ss0066'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0200:w0000:b0000' where SPELL_ID = 'g000ss0066'

-- Чума
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0200:w0000:b0000' where SPELL_ID = 'g000ss0067'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0200:w0000:b0000' where SPELL_ID = 'g000ss0067'

-- Тень
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0100:b0000' where SPELL_ID = 'g000ss0068'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0100:b0000' where SPELL_ID = 'g000ss0068'

-- Каменный дождь
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0200:w0000:b0000' where SPELL_ID = 'g000ss0070'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0200:w0000:b0000' where SPELL_ID = 'g000ss0070'

-- Проклятие Ниграэля
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0150:w0050:b0000' where SPELL_ID = 'g000ss0069'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0150:w0050:b0000' where SPELL_ID = 'g000ss0069'

-- Спешащее время
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0100:b0000' where SPELL_ID = 'g000ss0186'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0100:b0000' where SPELL_ID = 'g000ss0186'

-- УРОВЕНЬ 3

-- Призыв III: Кошмар
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0000:e0150:w0150:b0000' where SPELL_ID = 'g000ss0071'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0000:e0150:w0150:b0000' where SPELL_ID = 'g000ss0071'

-- Драконья порча
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0200:w0150:b0000' where SPELL_ID = 'g000ss0072'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf"
    set
        CASTING_C = 'g0000:r0000:y0000:e0200:w0150:b0000',
        damage_qty = 45
    where SPELL_ID = 'g000ss0072'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = 'Наносит отряду 45 очков повреждения магией Смерти.' where txt_id = 'x000tg4272'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = '- 45 Очков здоровья' where txt_id = 'x000tgc072'

-- Прикосновение Мортис
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0200:w0150:b0000' where SPELL_ID = 'g000ss0073'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0200:w0150:b0000' where SPELL_ID = 'g000ss0073'

-- Туман Смерти
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0200:w0150:b0000' where SPELL_ID = 'g000ss0074'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0200:w0150:b0000' where SPELL_ID = 'g000ss0074'

-- Смерч Смерти
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0200:w0150:b0000' where SPELL_ID = 'g000ss0093'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf"
    set
        CASTING_C = 'g0000:r0000:y0000:e0200:w0150:b0000',
        damage_qty = 30
    where SPELL_ID = 'g000ss0093'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = 'Наносит 30 очков повреждения магией Земли в области действия заклинания.' where txt_id = 'x000tg4293'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = '- 30 очков здоровья в области 5x5.' where txt_id = 'x000tgc093'

-- УРОВЕНЬ 4

-- Гниение
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0000:e0250:w0100:b0000' where SPELL_ID = 'g000ss0076'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0000:e0250:w0100:b0000' where SPELL_ID = 'g000ss0076'

-- Огненное дыхание
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0000:e0200:w0200:b0000' where SPELL_ID = 'g000ss0077'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf"
    set
        CASTING_C = 'g0000:r0100:y0000:e0200:w0200:b0000',
        damage_qty = 60
    where SPELL_ID = 'g000ss0077'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = 'Наносит отряду 60 очков повреждения магией Огня.' where txt_id = 'x000tg4277'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = '- 60 Очков здоровья' where txt_id = 'x000tgc077'

-- Ужас
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0000:e0250:w0150:b0000' where SPELL_ID = 'g000ss0075'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0000:e0250:w0150:b0000' where SPELL_ID = 'g000ss0075'

-- Псалом Смерти
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0000:e0200:w0150:b0000' where SPELL_ID = 'g000ss0094'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0000:e0200:w0150:b0000' where SPELL_ID = 'g000ss0094'

-- УРОВЕНЬ 5

-- Призыв IV: Танатос
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0350:w0200:b0000' where SPELL_ID = 'g000ss0078'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0000:e0350:w0200:b0000' where SPELL_ID = 'g000ss0078'

-- Защита от Оружия
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0000:e0400:w0250:b0000' where SPELL_ID = 'g000ss0079'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0000:e0400:w0250:b0000' where SPELL_ID = 'g000ss0079'

-- Истребление
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0300:w0250:b0000' where SPELL_ID = 'g000ss0080'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf"
    set
        CASTING_C = 'g0000:r0200:y0000:e0300:w0250:b0000',
        damage_qty = 75
    where SPELL_ID = 'g000ss0080'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = 'Наносит отряду 75 очков повреждения магией Смерти.' where txt_id = 'x000tg4280'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = '- 75 Очков здоровья' where txt_id = 'x000tgc080'

-- Сумерки
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0250:y0000:e0250:w0250:b0000' where SPELL_ID = 'g000ss0095'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0250:y0000:e0250:w0250:b0000' where SPELL_ID = 'g000ss0095'

-- Прикосновение вампира.
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0300:w0250:b0000' where SPELL_ID = 'g000ss0096'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0000:e0300:w0250:b0000' where SPELL_ID = 'g000ss0096'
