-- Выборка всех заклов. После выборки поменять кодировку на Russian MS-DOS.
 select spell_id, CASTING_C, text
     from "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf"
     join "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Tglobal.dbf"
         on name_txt = txt_id
     into cursor all_spells

-- select * from "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" where SPELL_ID = 'g000ss0008' into cursor cost1


-- ЗАЩИТНИКИ ИМПЕРИИ

-- УРОВЕНЬ 1

-- Защита от магии Воздуха
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0001'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0001'

-- Быстрота
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0002'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0002'

-- Сила
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0003'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0003'

-- Молния
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0004'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0004'

-- Защита от магии Воды
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0005'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0075:e0000:w0000:b0000' where SPELL_ID = 'g000ss0005'

-- Истинное зрение
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0009'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0075:e0000:w0000:b0000' where SPELL_ID = 'g000ss0009'

-- Защита от магии Земли
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0150:e0000:w0000:b0000' where SPELL_ID = 'g000ss0010'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0125:e0000:w0000:b0000' where SPELL_ID = 'g000ss0010'

-- Неудача
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0050:e0000:w0000:b0050' where SPELL_ID = 'g000ss0178'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0050:e0000:w0000:b0050' where SPELL_ID = 'g000ss0178'

-- УРОВЕНЬ 2

-- Ускорение
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0250:e0000:w0000:b0000' where SPELL_ID = 'g000ss0006'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0200:e0000:w0000:b0000' where SPELL_ID = 'g000ss0006'

-- Исцеление
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0150:e0000:w0000:b0000' where SPELL_ID = 'g000ss0007'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0125:e0000:w0000:b0000' where SPELL_ID = 'g000ss0007'

-- Призыв I: Живой Доспех
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0200:e0000:w0000:b0000' where SPELL_ID = 'g000ss0008'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0200:e0000:w0000:b0000' where SPELL_ID = 'g000ss0008'

-- Соколиная зоркость
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0126'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0126'

-- Сокрушение
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0050:b0000' where SPELL_ID = 'g000ss0183'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0050:b0000' where SPELL_ID = 'g000ss0183'

-- УРОВЕНЬ 3

-- Защита от магии Разума
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0100:b0000' where SPELL_ID = 'g000ss0011'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0100:b0000' where SPELL_ID = 'g000ss0011'

-- Святая броня
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0200:e0000:w0100:b0000' where SPELL_ID = 'g000ss0012'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0200:e0000:w0100:b0000' where SPELL_ID = 'g000ss0012'

-- Святая сила
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0200:e0000:w0000:b0000' where SPELL_ID = 'g000ss0013'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0200:e0000:w0000:b0000' where SPELL_ID = 'g000ss0013'

-- Гнев Богов
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0150:e0000:w0100:b0000' where SPELL_ID = 'g000ss0014'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0150:e0000:w0100:b0000' where SPELL_ID = 'g000ss0014'

-- Цепь молний
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0200:e0000:w0000:b0150' where SPELL_ID = 'g000ss0081'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0200:e0000:w0000:b0150' where SPELL_ID = 'g000ss0081'

-- УРОВЕНЬ 4

-- Призыв II: Голем
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0200:e0000:w0200:b0150' where SPELL_ID = 'g000ss0015'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0200:e0000:w0200:b0150' where SPELL_ID = 'g000ss0015'

-- Защита от магии Огня
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0150:e0000:w0050:b0000' where SPELL_ID = 'g000ss0016'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0150:e0000:w0050:b0000' where SPELL_ID = 'g000ss0016'

-- Призыв к оружию
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0200:e0100:w0150:b0000' where SPELL_ID = 'g000ss0017'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0200:e0100:w0150:b0000' where SPELL_ID = 'g000ss0017'

-- Защита от магии Смерти
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0175:e0100:w0050:b0000' where SPELL_ID = 'g000ss0018'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0175:e0100:w0050:b0000' where SPELL_ID = 'g000ss0018'

-- Благословение Всевышнего
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0300:e0000:w0150:b0150' where SPELL_ID = 'g000ss0082'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0300:e0000:w0150:b0150' where SPELL_ID = 'g000ss0082'

-- УРОВЕНЬ 5

-- Армагеддон
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0200:e0200:w0200:b0000' where SPELL_ID = 'g000ss0019'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0200:e0200:w0200:b0000' where SPELL_ID = 'g000ss0019'

-- Приказ сира Аллемона
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0050:e0000:w0050:b0050' where SPELL_ID = 'g000ss0020'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0050:e0000:w0050:b0050' where SPELL_ID = 'g000ss0020'

-- Свет дня
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0250:y0400:e0000:w0350:b0000' where SPELL_ID = 'g000ss0083'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0250:y0400:e0000:w0350:b0000' where SPELL_ID = 'g000ss0083'

-- Дар
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0050:e0000:w0000:b0050' where SPELL_ID = 'g000ss0084'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0050:e0000:w0000:b0050' where SPELL_ID = 'g000ss0084'

-- ГОРНЫЕ КЛАНЫ

-- УРОВЕНЬ 1

-- Сила Витара
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0100:b0000' where SPELL_ID = 'g000ss0023'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0100:b0000' where SPELL_ID = 'g000ss0023'

-- Буран
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0100:b0000' where SPELL_ID = 'g000ss0024'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0100:b0000' where SPELL_ID = 'g000ss0024'

-- Призыв I: Рух
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0125:b0000' where SPELL_ID = 'g000ss0025'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0125:b0000' where SPELL_ID = 'g000ss0025'

-- Гимн Кланов
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0175:b0000' where SPELL_ID = 'g000ss0026'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0175:b0000' where SPELL_ID = 'g000ss0026'

-- Мореплавание
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0075:b0000' where SPELL_ID = 'g000ss0027'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0075:b0000' where SPELL_ID = 'g000ss0027'

-- Ледяной столб
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0200:b0000' where SPELL_ID = 'g000ss0028'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0200:b0000' where SPELL_ID = 'g000ss0028'

-- Ритуал исцеления
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0100:b0000' where SPELL_ID = 'g000ss0029'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0100:b0000' where SPELL_ID = 'g000ss0029'

-- Взгляд Сивиллы
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0100:b0000' where SPELL_ID = 'g000ss0030'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0100:b0000' where SPELL_ID = 'g000ss0030'

-- Призыв II: Валькирия
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0050:e0000:w0150:b0000' where SPELL_ID = 'g000ss0031'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0050:e0000:w0150:b0000' where SPELL_ID = 'g000ss0031'

-- Песнь скорости
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0150:w0150:b0000' where SPELL_ID = 'g000ss0032'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0150:w0150:b0000' where SPELL_ID = 'g000ss0032'

-- Буря
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0125:e0000:w0125:b0000' where SPELL_ID = 'g000ss0033'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0125:e0000:w0125:b0000' where SPELL_ID = 'g000ss0033'

-- Хождение по лесу
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0050:b0000' where SPELL_ID = 'g000ss0022'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0050:b0000' where SPELL_ID = 'g000ss0022'

-- Стойкость
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0300:b0000' where SPELL_ID = 'g000ss0035'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0300:b0000' where SPELL_ID = 'g000ss0035'

-- Благословение Вотана
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0100:e0100:w0300:b0000' where SPELL_ID = 'g000ss0036'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0100:e0100:w0300:b0000' where SPELL_ID = 'g000ss0036'

-- Ледяной щит
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0100:b0000' where SPELL_ID = 'g000ss0021'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0100:b0000' where SPELL_ID = 'g000ss0021'

-- Заколдованное оружие
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0025:e0000:w0100:b0075' where SPELL_ID = 'g000ss0034'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0025:e0000:w0100:b0075' where SPELL_ID = 'g000ss0034'

-- Призыв III: Каменный предок
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0000:e0050:w0250:b0100' where SPELL_ID = 'g000ss0038'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0000:e0050:w0250:b0100' where SPELL_ID = 'g000ss0038'

-- Неподкупность
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0000:e0075:w0075:b0075' where SPELL_ID = 'g000ss0039'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0000:e0075:w0075:b0075' where SPELL_ID = 'g000ss0039'

-- Песнь Вотана
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0075:e0000:w0125:b0075' where SPELL_ID = 'g000ss0040'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0075:e0000:w0125:b0075' where SPELL_ID = 'g000ss0040'

-- Incantare Hellhound
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0125:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0041'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0125:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0041'

-- Incantare Hellhound Illudere
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0042'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0042'

-- Ignis mare
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0125:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0043'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0125:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0043'

-- Menta minoris
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0125:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0044'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0125:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0044'

-- Tormentio
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0125:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0045'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0125:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0045'

-- Incantare Beliarh
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0225:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0046'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0225:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0046'

-- Incantare Beliarh Illudere
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0047'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0047'

-- Ignis carn
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0048'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0048'

-- Cursa demoneus
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0175:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0049'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0175:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0049'

-- Chronos
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0175:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0050'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0175:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0050'

-- Sanctuera
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0200:e0000:w0000:b0150' where SPELL_ID = 'g000ss0051'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0200:e0000:w0000:b0150' where SPELL_ID = 'g000ss0051'

-- Divis nocte
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0000:e0075:w0000:b0000' where SPELL_ID = 'g000ss0052'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0000:e0075:w0000:b0000' where SPELL_ID = 'g000ss0052'

-- Paraseus
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0200:w0150:b0000' where SPELL_ID = 'g000ss0053'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0000:e0200:w0150:b0000' where SPELL_ID = 'g000ss0053'

-- Menta potens
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0100:e0000:w0100:b0000' where SPELL_ID = 'g000ss0054'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0100:e0000:w0100:b0000' where SPELL_ID = 'g000ss0054'

-- Tortio menta
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0300:y0150:e0200:w0000:b0000' where SPELL_ID = 'g000ss0055'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0300:y0150:e0200:w0000:b0000' where SPELL_ID = 'g000ss0055'

-- Sinestra ignis
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0200:e0100:w0000:b0000' where SPELL_ID = 'g000ss0056'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0200:e0100:w0000:b0000' where SPELL_ID = 'g000ss0056'

-- Merum Facies
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0050:e0050:w0000:b0000' where SPELL_ID = 'g000ss0057'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0050:e0050:w0000:b0000' where SPELL_ID = 'g000ss0057'

-- Incantare Avenger
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0250:y0150:e0050:w0150:b0000' where SPELL_ID = 'g000ss0058'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0250:y0150:e0050:w0150:b0000' where SPELL_ID = 'g000ss0058'

-- Incantare Avenger Illudere
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0059'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0059'

-- Deus talonis
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0200:e0200:w0200:b0000' where SPELL_ID = 'g000ss0060'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0200:e0200:w0200:b0000' where SPELL_ID = 'g000ss0060'

-- Призыв I: Скелет
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0125:w0000:b0000' where SPELL_ID = 'g000ss0061'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0125:w0000:b0000' where SPELL_ID = 'g000ss0061'

-- Мор
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0090:w0000:b0000' where SPELL_ID = 'g000ss0062'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0090:w0000:b0000' where SPELL_ID = 'g000ss0062'

-- Снежная буря
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0090:w0000:b0000' where SPELL_ID = 'g000ss0063'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0090:w0000:b0000' where SPELL_ID = 'g000ss0063'

-- Слабость
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0064'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0064'

-- Ржавчина
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0065'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0065'

-- Призыв II: Хуорн
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0225:w0000:b0000' where SPELL_ID = 'g000ss0066'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0225:w0000:b0000' where SPELL_ID = 'g000ss0066'

-- Чума
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0200:w0000:b0000' where SPELL_ID = 'g000ss0067'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0200:w0000:b0000' where SPELL_ID = 'g000ss0067'

-- Тень
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0068'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0000:b0000' where SPELL_ID = 'g000ss0068'

-- Проклятие Ниграэля
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0175:w0000:b0000' where SPELL_ID = 'g000ss0069'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0175:w0000:b0000' where SPELL_ID = 'g000ss0069'

-- Каменный дождь
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0200:w0000:b0000' where SPELL_ID = 'g000ss0070'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0200:w0000:b0000' where SPELL_ID = 'g000ss0070'

-- Призыв III: Кошмар
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0050:e0150:w0000:b0000' where SPELL_ID = 'g000ss0071'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0050:e0150:w0000:b0000' where SPELL_ID = 'g000ss0071'

-- Драконья порча
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0125:y0050:e0125:w0000:b0000' where SPELL_ID = 'g000ss0072'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0125:y0050:e0125:w0000:b0000' where SPELL_ID = 'g000ss0072'

-- Прикосновение Мортис
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0000:e0125:w0000:b0125' where SPELL_ID = 'g000ss0073'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0000:e0125:w0000:b0125' where SPELL_ID = 'g000ss0073'

-- Ужас
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0300:w0100:b0000' where SPELL_ID = 'g000ss0075'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0000:e0300:w0100:b0000' where SPELL_ID = 'g000ss0075'

-- Туман Смерти
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0000:e0075:w0000:b0000' where SPELL_ID = 'g000ss0074'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0000:e0075:w0000:b0000' where SPELL_ID = 'g000ss0074'

-- Гниение
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0300:w0000:b0100' where SPELL_ID = 'g000ss0076'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0000:e0300:w0000:b0100' where SPELL_ID = 'g000ss0076'

-- Огненное дыхание
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0000:e0200:w0000:b0100' where SPELL_ID = 'g000ss0077'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0000:e0200:w0000:b0100' where SPELL_ID = 'g000ss0077'

-- Призыв IV: Танатос
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0100:e0250:w0050:b0000' where SPELL_ID = 'g000ss0078'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0100:e0250:w0050:b0000' where SPELL_ID = 'g000ss0078'

-- Защита от Оружия
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0000:e0125:w0050:b0075' where SPELL_ID = 'g000ss0079'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0000:e0125:w0050:b0075' where SPELL_ID = 'g000ss0079'

-- Истребление
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0200:e0200:w0200:b0000' where SPELL_ID = 'g000ss0080'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0200:e0200:w0200:b0000' where SPELL_ID = 'g000ss0080'

-- Искусный торговец
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0075:e0000:w0150:b0100' where SPELL_ID = 'g000ss0085'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0075:e0000:w0150:b0100' where SPELL_ID = 'g000ss0085'

-- Духи льда
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0000:e0000:w0200:b0100' where SPELL_ID = 'g000ss0086'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0000:e0000:w0200:b0100' where SPELL_ID = 'g000ss0086'

-- Ветер путешествий.
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0000:e0075:w0175:b0100' where SPELL_ID = 'g000ss0087'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0000:e0075:w0175:b0100' where SPELL_ID = 'g000ss0087'

-- Опыт ветеранов.
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0050:e0000:w0050:b0050' where SPELL_ID = 'g000ss0088'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0050:e0000:w0050:b0050' where SPELL_ID = 'g000ss0088'

-- Preces
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0125:y0000:e0125:w0000:b0100' where SPELL_ID = 'g000ss0089'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0125:y0000:e0125:w0000:b0100' where SPELL_ID = 'g000ss0089'

-- Potentia Ignis
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0000:w0200:b0200' where SPELL_ID = 'g000ss0090'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0000:e0000:w0200:b0200' where SPELL_ID = 'g000ss0090'

-- Tempus status
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0300:y0000:e0200:w0100:b0000' where SPELL_ID = 'g000ss0091'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0300:y0000:e0200:w0100:b0000' where SPELL_ID = 'g000ss0091'

-- Terra Illudere
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0400:y0200:e0000:w0200:b0250' where SPELL_ID = 'g000ss0092'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0400:y0200:e0000:w0200:b0250' where SPELL_ID = 'g000ss0092'

-- Смерч Смерти
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0150:w0075:b0075' where SPELL_ID = 'g000ss0093'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0150:w0075:b0075' where SPELL_ID = 'g000ss0093'

-- Псалом Смерти
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0200:w0100:b0000' where SPELL_ID = 'g000ss0094'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0000:e0200:w0100:b0000' where SPELL_ID = 'g000ss0094'

-- Сумерки
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0250:y0150:e0400:w0000:b0350' where SPELL_ID = 'g000ss0095'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0250:y0150:e0400:w0000:b0350' where SPELL_ID = 'g000ss0095'

-- Прикосновение вампира.
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0000:e0100:w0000:b0050' where SPELL_ID = 'g000ss0096'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0000:e0100:w0000:b0050' where SPELL_ID = 'g000ss0096'

-- Кустарник
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0100' where SPELL_ID = 'g000ss0097'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0100' where SPELL_ID = 'g000ss0097'

-- Призыв I: Энт Малый
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0125' where SPELL_ID = 'g000ss0098'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0125' where SPELL_ID = 'g000ss0098'

-- Опутывание
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0175' where SPELL_ID = 'g000ss0099'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0175' where SPELL_ID = 'g000ss0099'

-- Скорость
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0140' where SPELL_ID = 'g000ss0100'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0140' where SPELL_ID = 'g000ss0100'

-- Стая
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0100' where SPELL_ID = 'g000ss0101'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0100' where SPELL_ID = 'g000ss0101'

-- Стойкость рощи
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0150' where SPELL_ID = 'g000ss0102'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0150' where SPELL_ID = 'g000ss0102'

-- Призыв II: Энт
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0225' where SPELL_ID = 'g000ss0103'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0225' where SPELL_ID = 'g000ss0103'

-- Опаление
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0200' where SPELL_ID = 'g000ss0104'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0200' where SPELL_ID = 'g000ss0104'

-- Утопление
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0200' where SPELL_ID = 'g000ss0105'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0200' where SPELL_ID = 'g000ss0105'

-- Смятение
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0125' where SPELL_ID = 'g000ss0106'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0125' where SPELL_ID = 'g000ss0106'

-- Создание Рощи
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0125:e0000:w0000:b0125' where SPELL_ID = 'g000ss0107'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0125:e0000:w0000:b0125' where SPELL_ID = 'g000ss0107'

-- Призыв III: Энт Большой
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0150:e0000:w0050:b0150' where SPELL_ID = 'g000ss0108'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0150:e0000:w0050:b0150' where SPELL_ID = 'g000ss0108'

-- Блуждающий Огонек
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0100:e0000:w0000:b0100' where SPELL_ID = 'g000ss0109'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0100:e0000:w0000:b0100' where SPELL_ID = 'g000ss0109'

-- Излечение
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0150:e0000:w0000:b0150' where SPELL_ID = 'g000ss0110'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0150:e0000:w0000:b0150' where SPELL_ID = 'g000ss0110'

-- Отвлечение
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0150:w0000:b0150' where SPELL_ID = 'g000ss0111'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0150:w0000:b0150' where SPELL_ID = 'g000ss0111'

-- Лавина
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0000:e0000:w0150:b0150' where SPELL_ID = 'g000ss0112'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0000:e0000:w0150:b0150' where SPELL_ID = 'g000ss0112'

-- Порыв
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0150:e0000:w0150:b0200' where SPELL_ID = 'g000ss0113'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0150:e0000:w0150:b0200' where SPELL_ID = 'g000ss0113'

-- Плесень
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0100:w0100:b0200' where SPELL_ID = 'g000ss0114'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0100:w0100:b0200' where SPELL_ID = 'g000ss0114'

-- Проклятие Галеана
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0000:e0300:w0000:b0100' where SPELL_ID = 'g000ss0115'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0000:e0300:w0000:b0100' where SPELL_ID = 'g000ss0115'

-- Благословение Галеана
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0300:e0000:w0200:b0200' where SPELL_ID = 'g000ss0116'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0300:e0000:w0200:b0200' where SPELL_ID = 'g000ss0116'

-- Призыв IV: Вердант
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0150:e0000:w0050:b0250' where SPELL_ID = 'g000ss0117'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0150:e0000:w0050:b0250' where SPELL_ID = 'g000ss0117'

-- Ослепление
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0050:e0000:w0000:b0050' where SPELL_ID = 'g000ss0118'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0050:e0000:w0000:b0050' where SPELL_ID = 'g000ss0118'

-- Водосточный колодец
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0050:e0000:w0000:b0075' where SPELL_ID = 'g000ss0119'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0050:e0000:w0000:b0075' where SPELL_ID = 'g000ss0119'

-- Проворство
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0100:e0000:w0000:b0100' where SPELL_ID = 'g000ss0120'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0100:e0000:w0000:b0100' where SPELL_ID = 'g000ss0120'

-- Месть Имира
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0000:e0200:w0200:b0000' where SPELL_ID = 'g000ss0037'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0000:e0200:w0200:b0000' where SPELL_ID = 'g000ss0037'

-- Призыв V: Вестник поглощения
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0200:e0200:w0200:b0200' where SPELL_ID = 'g000ss0136'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0200:e0200:w0200:b0200' where SPELL_ID = 'g000ss0136'

-- Призыв V: Вестник немощи
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0200:e0200:w0200:b0200' where SPELL_ID = 'g000ss0137'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0200:e0200:w0200:b0200' where SPELL_ID = 'g000ss0137'

-- Призыв III: Сущность бури
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0075:e0075:w0075:b0075' where SPELL_ID = 'g000ss0138'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0075:e0075:w0075:b0075' where SPELL_ID = 'g000ss0138'

-- Призыв III: Ледяная сущность
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0075:e0075:w0075:b0075' where SPELL_ID = 'g000ss0139'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0075:e0075:w0075:b0075' where SPELL_ID = 'g000ss0139'

-- Призыв III: Каменная сущность
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0075:e0075:w0075:b0075' where SPELL_ID = 'g000ss0140'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0075:e0075:w0075:b0075' where SPELL_ID = 'g000ss0140'

-- Призыв III: Сущность пламени
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0075:e0075:w0075:b0075' where SPELL_ID = 'g000ss0141'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0075:e0075:w0075:b0075' where SPELL_ID = 'g000ss0141'

-- Призыв IV: Стихийный голем
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0175:y0175:e0175:w0175:b0175' where SPELL_ID = 'g000ss0142'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0175:y0175:e0175:w0175:b0175' where SPELL_ID = 'g000ss0142'

-- Призыв V: Вестник перемен
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0200:e0200:w0200:b0200' where SPELL_ID = 'g000ss0143'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0200:e0200:w0200:b0200' where SPELL_ID = 'g000ss0143'

-- Затопление
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0050:e0050:w0050:b0050' where SPELL_ID = 'g000ss0144'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0050:e0050:w0050:b0050' where SPELL_ID = 'g000ss0144'

-- Потоп
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0100:e0100:w0100:b0100' where SPELL_ID = 'g000ss0145'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0100:e0100:w0100:b0100' where SPELL_ID = 'g000ss0145'

-- Создание горы
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0025:y0025:e0025:w0025:b0025' where SPELL_ID = 'g000ss0146'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0025:y0025:e0025:w0025:b0025' where SPELL_ID = 'g000ss0146'

-- Infernus
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0147'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0147'

-- Гниение леса
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0165:y0040:e0165:w0130:b0000' where SPELL_ID = 'g000ss0148'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0165:y0040:e0165:w0130:b0000' where SPELL_ID = 'g000ss0148'

-- Вампиризм
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0150:e0150:w0000:b0000' where SPELL_ID = 'g000ss0149'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0150:e0150:w0000:b0000' where SPELL_ID = 'g000ss0149'

-- Поспешность
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0075:e0000:w0000:b0150' where SPELL_ID = 'g000ss0150'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0075:e0000:w0000:b0150' where SPELL_ID = 'g000ss0150'

-- Освящение земель
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0150:e0000:w0150:b0150' where SPELL_ID = 'g000ss0151'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0150:e0000:w0150:b0150' where SPELL_ID = 'g000ss0151'

-- Осквернение земель
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0225:y0000:e0225:w0000:b0000' where SPELL_ID = 'g000ss0152'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0225:y0000:e0225:w0000:b0000' where SPELL_ID = 'g000ss0152'

-- Саван Ниграэля
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0050:e0150:w0050:b0050' where SPELL_ID = 'g000ss0158'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0050:e0150:w0050:b0050' where SPELL_ID = 'g000ss0158'

-- Увечье
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0000:e0150:w0000:b0000' where SPELL_ID = 'g000ss0159'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0000:e0150:w0000:b0000' where SPELL_ID = 'g000ss0159'

-- Великая защита от магии Воздуха
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0200:e0000:w0150:b0100' where SPELL_ID = 'g000ss0160'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0200:e0000:w0150:b0100' where SPELL_ID = 'g000ss0160'

-- Великая защита от магии Воды
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0075:w0200:b0125' where SPELL_ID = 'g000ss0161'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0075:w0200:b0125' where SPELL_ID = 'g000ss0161'

-- Великая защита от магии Земли
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0075:e0150:w0075:b0200' where SPELL_ID = 'g000ss0162'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0075:e0150:w0075:b0200' where SPELL_ID = 'g000ss0162'

-- Великая защита от магии Разума
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0050:e0175:w0000:b0075' where SPELL_ID = 'g000ss0163'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0200:y0050:e0175:w0000:b0075' where SPELL_ID = 'g000ss0163'

-- Великая защита от магии Огня
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0250:y0075:e0100:w0075:b0000' where SPELL_ID = 'g000ss0164'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0250:y0075:e0100:w0075:b0000' where SPELL_ID = 'g000ss0164'

-- Великая защита от магии Смерти
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0225:y0200:e0300:w0100:b0175' where SPELL_ID = 'g000ss0165'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0225:y0200:e0300:w0100:b0175' where SPELL_ID = 'g000ss0165'

-- Великая защита от Оружия
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0175:y0150:e0325:w0250:b0100' where SPELL_ID = 'g000ss0166'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0175:y0150:e0325:w0250:b0100' where SPELL_ID = 'g000ss0166'

-- Великая ловкость
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0125:y0000:e0075:w0075:b0225' where SPELL_ID = 'g000ss0167'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0125:y0000:e0075:w0075:b0225' where SPELL_ID = 'g000ss0167'

-- Великое освящение оружия
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0125:e0050:w0250:b0075' where SPELL_ID = 'g000ss0168'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0125:e0050:w0250:b0075' where SPELL_ID = 'g000ss0168'

-- Великое освящение доспехов
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0225:e0000:w0125:b0050' where SPELL_ID = 'g000ss0169'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0225:e0000:w0125:b0050' where SPELL_ID = 'g000ss0169'

-- Великая удача
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0175:y0100:e0050:w0000:b0175' where SPELL_ID = 'g000ss0170'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0175:y0100:e0050:w0000:b0175' where SPELL_ID = 'g000ss0170'

-- Великая милость
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0275:e0100:w0225:b0350' where SPELL_ID = 'g000ss0171'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0275:e0100:w0225:b0350' where SPELL_ID = 'g000ss0171'

-- Великая жажда
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0225:e0175:w0075:b0000' where SPELL_ID = 'g000ss0172'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0225:e0175:w0075:b0000' where SPELL_ID = 'g000ss0172'

-- Великий ужас
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0025:y0025:e0025:w0025:b0025' where SPELL_ID = 'g000ss0173'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0025:y0025:e0025:w0025:b0025' where SPELL_ID = 'g000ss0173'

-- Omnia tenebris
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0400:y0200:e0000:w0200:b0000' where SPELL_ID = 'g000ss0174'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0400:y0200:e0000:w0200:b0000' where SPELL_ID = 'g000ss0174'

-- Божественная мудрость
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0075:e0075:w0075:b0075' where SPELL_ID = 'g000ss0175'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0075:e0075:w0075:b0075' where SPELL_ID = 'g000ss0175'

-- Лисья хитрость
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0050:e0050:w0050:b0050' where SPELL_ID = 'g000ss0176'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0050:e0050:w0050:b0050' where SPELL_ID = 'g000ss0176'

-- Откровение
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0025:y0025:e0025:w0025:b0025' where SPELL_ID = 'g000ss0177'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0025:y0025:e0025:w0025:b0025' where SPELL_ID = 'g000ss0177'

-- Устрашающий гимн
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0050:b0075' where SPELL_ID = 'g000ss0179'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0050:b0075' where SPELL_ID = 'g000ss0179'

-- Ardenti aqua
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0025:e0000:w0000:b0100' where SPELL_ID = 'g000ss0180'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0025:e0000:w0000:b0100' where SPELL_ID = 'g000ss0180'

-- Стальные кости
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0050:w0000:b0075' where SPELL_ID = 'g000ss0181'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0050:w0000:b0075' where SPELL_ID = 'g000ss0181'

-- Спокойствие пламени
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0000:e0000:w0000:b0100' where SPELL_ID = 'g000ss0182'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0000:e0000:w0000:b0100' where SPELL_ID = 'g000ss0182'

-- Проклятие Имира
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0000:e0000:w0075:b0050' where SPELL_ID = 'g000ss0184'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0000:e0000:w0075:b0050' where SPELL_ID = 'g000ss0184'

-- Terebrare corde
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0000:e0000:w0050:b0050' where SPELL_ID = 'g000ss0185'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0000:e0000:w0050:b0050' where SPELL_ID = 'g000ss0185'

-- Спешащее время
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0050:e0075:w0000:b0075' where SPELL_ID = 'g000ss0186'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0050:e0075:w0000:b0075' where SPELL_ID = 'g000ss0186'

-- Могущество
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0000:e0000:w0050:b0075' where SPELL_ID = 'g000ss0187'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0000:e0000:w0050:b0075' where SPELL_ID = 'g000ss0187'

-- Избавление от боли
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0175:e0000:w0000:b0000' where SPELL_ID = 'g000ss0121'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0175:e0000:w0000:b0000' where SPELL_ID = 'g000ss0121'

-- Целительные ожоги
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0175:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0122'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0175:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0122'

-- Заживление ран
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0175:b0000' where SPELL_ID = 'g000ss0123'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0175:b0000' where SPELL_ID = 'g000ss0123'

-- Отсрочка неизбежного
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0175:w0000:b0000' where SPELL_ID = 'g000ss0124'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0175:w0000:b0000' where SPELL_ID = 'g000ss0124'

-- Благодать диких рощ
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0175' where SPELL_ID = 'g000ss0125'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0175' where SPELL_ID = 'g000ss0125'

-- Ведения бездны
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0127'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0127'

-- Усиленное восприятие
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0150' where SPELL_ID = 'g000ss0128'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0150' where SPELL_ID = 'g000ss0128'

-- Очи душ
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0150:w0000:b0000' where SPELL_ID = 'g000ss0129'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0150:w0000:b0000' where SPELL_ID = 'g000ss0129'

-- Дар предвидения
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0150:b0000' where SPELL_ID = 'g000ss0130'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0150:b0000' where SPELL_ID = 'g000ss0130'

-- Ослепительная вcпышка
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0075:e0000:w0000:b0000' where SPELL_ID = 'g000ss0131'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0075:e0000:w0000:b0000' where SPELL_ID = 'g000ss0131'

-- Вгляд пустоты
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0075:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0132'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0075:y0000:e0000:w0000:b0000' where SPELL_ID = 'g000ss0132'

-- Песнь слез
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0000:b0075' where SPELL_ID = 'g000ss0133'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0000:b0075' where SPELL_ID = 'g000ss0133'

-- Прах усопших
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0075:w0000:b0000' where SPELL_ID = 'g000ss0134'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0075:w0000:b0000' where SPELL_ID = 'g000ss0134'

-- Снежный занавес
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0000:e0000:w0075:b0000' where SPELL_ID = 'g000ss0135'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0000:e0000:w0075:b0000' where SPELL_ID = 'g000ss0135'

-- Очищающая молитва
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0025:y0050:e0025:w0025:b0025' where SPELL_ID = 'g000ss0153'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0025:y0050:e0025:w0025:b0025' where SPELL_ID = 'g000ss0153'

-- Дьявольский вальс
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0075:e0000:w0000:b0000' where SPELL_ID = 'g000ss0154'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0075:e0000:w0000:b0000' where SPELL_ID = 'g000ss0154'

-- Танец полуночных фей
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0075:e0000:w0000:b0100' where SPELL_ID = 'g000ss0155'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0075:e0000:w0000:b0100' where SPELL_ID = 'g000ss0155'

-- Гейзер мертвых вод
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0075:e0100:w0000:b0000' where SPELL_ID = 'g000ss0156'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0075:e0100:w0000:b0000' where SPELL_ID = 'g000ss0156'

-- Полет валькирии
update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0075:e0000:w0100:b0000' where SPELL_ID = 'g000ss0157'

update "C:\Users\nikol\Games\NOT sMNS v1.0.1.1\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0075:e0000:w0100:b0000' where SPELL_ID = 'g000ss0157'
