-- ЗАЩИТНИКИ ИМПЕРИИ

-- УРОВЕНЬ 1

-- Защита от магии Воздуха
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0001'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0001'

-- Быстрота
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0002'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0002'

-- Сила
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0003'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0003'

-- Молния
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0004'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf"
    set
        CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000',
        damage_qty = 15
    where SPELL_ID = 'g000ss0004'

-- Защита от магии Воды
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0005'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0005'

-- Истинное зрение
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0100:b0000' where SPELL_ID = 'g000ss0009'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0100:b0000' where SPELL_ID = 'g000ss0009'

-- Защита от магии Земли
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0150:e0000:w0050:b0000' where SPELL_ID = 'g000ss0010'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0150:e0000:w0050:b0000' where SPELL_ID = 'g000ss0010'

-- Неудача
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0050:e0000:w0050:b0000' where SPELL_ID = 'g000ss0178'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0050:e0000:w0050:b0000' where SPELL_ID = 'g000ss0178'

-- УРОВЕНЬ 2

-- Ускорение
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0100:b0000' where SPELL_ID = 'g000ss0006'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0100:b0000' where SPELL_ID = 'g000ss0006'

-- Исцеление
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0007'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0007'

-- Призыв I: Живой Доспех
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0200:e0000:w0000:b0000' where SPELL_ID = 'g000ss0008'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0200:e0000:w0000:b0000' where SPELL_ID = 'g000ss0008'

-- Соколиная зоркость
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0126'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0100:e0000:w0000:b0000' where SPELL_ID = 'g000ss0126'

-- Сокрушение
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0150:e0000:w0050:b0000' where SPELL_ID = 'g000ss0183'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0150:e0000:w0050:b0000' where SPELL_ID = 'g000ss0183'

-- УРОВЕНЬ 3

-- Защита от магии Разума
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0200:e0000:w0150:b0000' where SPELL_ID = 'g000ss0011'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0200:e0000:w0150:b0000' where SPELL_ID = 'g000ss0011'

-- Святая броня
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0150:e0000:w0150:b0000' where SPELL_ID = 'g000ss0012'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0150:e0000:w0150:b0000' where SPELL_ID = 'g000ss0012'

-- Святая сила
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0200:e0000:w0150:b0000' where SPELL_ID = 'g000ss0013'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0200:e0000:w0150:b0000' where SPELL_ID = 'g000ss0013'

-- Гнев Богов
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0200:e0000:w0150:b0000' where SPELL_ID = 'g000ss0014'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf"
    set
        CASTING_C = 'g0000:r0000:y0200:e0000:w0150:b0000',
        damage_qty = 45
    where SPELL_ID = 'g000ss0014'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = 'Наносит отряду 45 очков повреждения магией Воздуха.' where txt_id = 'x000tg4214'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = '- 45 Очков здоровья' where txt_id = 'x000tgc014'

-- Цепь молний
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0200:e0000:w0100:b0000' where SPELL_ID = 'g000ss0081'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf"
    set
        CASTING_C = 'g0000:r0050:y0200:e0000:w0100:b0000',
        damage_qty = 30
    where SPELL_ID = 'g000ss0081'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = 'Наносит 30 очков повреждения магией Воздуха в области действия заклинания.' where txt_id = 'x000tg4281'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = '- 30 Очков здоровья в области чар' where txt_id = 'x000tgc081'

-- УРОВЕНЬ 4

-- Призыв II: Голем
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0100:y0200:e0000:w0200:b0000' where SPELL_ID = 'g000ss0015'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0100:y0200:e0000:w0200:b0000' where SPELL_ID = 'g000ss0015'

-- Защита от магии Огня
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0250:e0000:w0200:b0000' where SPELL_ID = 'g000ss0016'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0250:e0000:w0200:b0000' where SPELL_ID = 'g000ss0016'

-- Призыв к оружию
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0150:y0200:e0000:w0150:b0000' where SPELL_ID = 'g000ss0017'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0150:y0200:e0000:w0150:b0000' where SPELL_ID = 'g000ss0017'

-- Защита от магии Смерти
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0250:e0000:w0200:b0000' where SPELL_ID = 'g000ss0018'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0250:e0000:w0200:b0000' where SPELL_ID = 'g000ss0018'

-- Благословение Всевышнего
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0050:y0250:e0000:w0200:b0000' where SPELL_ID = 'g000ss0082'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0050:y0250:e0000:w0200:b0000' where SPELL_ID = 'g000ss0082'

-- УРОВЕНЬ 5

-- Армагеддон
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0200:y0300:e0000:w0250:b0000' where SPELL_ID = 'g000ss0019'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf"
    set
        CASTING_C = 'g0000:r0200:y0300:e0000:w0250:b0000',
        damage_qty = 75
    where SPELL_ID = 'g000ss0019'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = 'Наносит отряду 75 очков повреждения магией Воздуха.' where txt_id = 'x000tg4219'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Tglobal.dbf" set text = '- 75 Очков здоровья' where txt_id = 'x000tgc019'

-- Приказ сира Аллемона
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0050:e0000:w0050:b0000' where SPELL_ID = 'g000ss0020'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0050:e0000:w0050:b0000' where SPELL_ID = 'g000ss0020'

-- Свет дня
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0250:y0250:e0000:w0250:b0000' where SPELL_ID = 'g000ss0083'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0250:y0250:e0000:w0250:b0000' where SPELL_ID = 'g000ss0083'

-- Дар
update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\GspellR.dbf" set RESEARCH = 'g0000:r0000:y0050:e0000:w0000:b0000' where SPELL_ID = 'g000ss0084'

update "C:\Users\nikol\not-smns-project\NOT sMNS v1.0.1.3b\Globals\Gspells.dbf" set CASTING_C = 'g0000:r0000:y0050:e0000:w0000:b0000' where SPELL_ID = 'g000ss0084'
